{% extends "base.html" %}
{% block body %}
<h3><strong>Make sure your key is easy remember!</strong></h3><br>
<form method="post">
  <input class="key" type="text" name="key" placeholder="Key" value="{{key}}" /><br><br>
  <p>If you do not enter a key it will be batman and robin by default</p><br>
  <textarea rows="5" cols="30" name="inputtext" placeholder="Input text"></textarea><br><br>
  <label for="encrypt">Encrypt</label><input id="encrypt" type="radio" name="direction" value="encrypt" checked="checked">
  <label for="decrypt">Decrypt</label><input id="decrypt" type="radio" name="direction" value="decrypt"><br><br>
  <input type="submit" name="encipher"><br><br>
</form>

{% if returntext %}
<p>You {{mode}}ed the text {{ inputtext }} with the key {{key}} using the playfiar cipher you got {{returntext}}</p>
{% endif %}
<a href="/">home</a><br>
{% endblock %}
